header .eco_nav nav .navbar-nav li ul li a {
    font-weight: 500;
    line-height: 44px;
    padding-left: 25px !important;
}



header .eco_nav nav .navbar-nav li ul li:hover a {
    color: #ffffff !important;
}
header .eco_nav nav .navbar-nav li ul li:hover ul li a {
    color: #2f2f2f !important;
}
header .eco_nav nav .navbar-nav li ul li ul li:hover a {
    color: #ffffff !important;
}
header .eco_nav nav .navbar-nav li ul li:hover ul {
    top: 0px !important;
}

header .eco_nav nav .navbar-nav li ul li a:before {
    display: none;
}
header .eco_nav nav .navbar-nav li ul li .dropdown_icon:before {
    display: block;
}
header .eco_nav nav .navbar-nav .single_nav ul li {
    margin-bottom: 0px;
}
.modal_sidebar_2 .recent_courses h2, .modal_sidebar_2 .events_wrapper h2{
    text-align: left;
    padding-left: 22px;
}
.popular_cources_2 .view-more-btn:hover {
    color: #ffffff;
    border: 2px solid #2f2f2f;
}
.blog_2 .blog_2_single .blog_img a {
    border-radius: 0px;
}
#scroll-top .to-top a {
    top: 88%;
}
.cources_categories_3 .courses_single .courses_title .teacher_pro {
    left: 67px;
}
.courses_details_body .popular_cources {
    max-height: 802px;
}
.our_instructors_1 .view-more-btn, .teachers_2 .view-more-btn, .event_list_1 .view-more-btn, .event_list_1 .popular_event .events-single-box .event-info .apply_btn, .event_list_1 .popular_event .events-single-box .event-info .apply_btn, .event_list_3 .popular_event .events-single-box .event-info .apply_btn, .event_list_3 .view-more-btn, .event_slider .cources_slider .events-single-box .event-info .apply_btn, .event_grid_2 .view-more-btn, .courses_1 .popular_cources_1 .view-more-btn, .courses_2 .view-more-btn, .courses_3 .view-more-btn{
    font-weight: 600;
}
.sub_header_banner {
    min-height: 390px;
}
.teachers_profile .teacher-details-wrapper .teacher-detail-left .teacher_info_wrapper .teacher-skills .skill-single span:last-child span {
    background: #ddd;
}
.teachers_profile .teacher-details-wrapper .teacher-detail-right .teacher-contact form textarea {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.teachers_profile .teacher-details-wrapper .teacher-detail-right .teacher-contact form textarea:focus {
    border: 1px solid #ff1949;
    outline: none;
}
.teachers_profile .teacher-details-wrapper .teacher-detail-right .teacher-info {
    padding: 51px 30px;
}
.top_tutors .tutor_signle:before {
    background: #ff1949;
}
.become_a_instractor .apply_instractor {
    padding-top: 20px;
}
.become_a_instractor .apply_instractor form .form-group input{
    height: 42px;
}
.forgot_pass .forgot_wrapper {
    background: #fff;
    box-shadow: 10px 17px 70px 0px rgba(47, 47, 47, 0.16);
}
.forgot_pass .forgot_wrapper form input.reset_pass_btn {
    height: 54px;
    padding: 0 35px;
    line-height: 54px;
    border: none;
    border-radius: 0;
    background: #ff1949;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
}
.forgot_wrapper h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact_page .contact_form .leave_comment_wrapper .leave_comment .submit-btn button {
    background: #ff1949;
    color: #fff;
}
.popular_event .event_single .event_img:after {
    background: rgba(47, 47, 47, 0.2);
}
.about_4 .about_bottom_wrapepr .info_courses_single p {
    color: rgba(255, 255, 255, 0.6);
}
.teachers_profile .teacher-details-wrapper .teacher-detail-right .teacher-contact form button{
    background: #ff1949;
}
.contact_page .contact_form .leave_comment_wrapper .leave_comment .form-group input{
    height: 48px;
}

header .eco_nav nav .navbar-nav li ul li .mega_menu_box a {
    padding: 0 !important;
}
/* Revolation Slider Overlay*/

.rev_slider_wrapper {
    position: relative;
}
.rev_slider_wrapper ul li .slider-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.rev_slider_wrapper ul li .slider-overlay:before {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 99;
}
.zeus.tparrows.tp-leftarrow:before {
    font-family: "Flaticon";
    content: "\f100" !important;
}

.zeus.tparrows.tp-rightarrow:before {
    font-family: "Flaticon";
    content: "\f101" !important;
}
header .eco_nav nav .navbar-nav li a.active, header .eco_nav nav .navbar-nav li a:hover {
    background: transparent;
    outline: none;
    color: #298fc2 !important;
}

header .eco_nav nav .navbar-nav li a{
    position: relative;
}
header .eco_nav nav .navbar-nav li a.active{
    position: relative
}

header .eco_nav nav .navbar-nav li a:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #298fc2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
header .eco_nav nav .navbar-nav li a:hover:after{
    opacity: 1;
    visibility: visible;
}
header .eco_nav nav .navbar-nav li ul li a:after{
    display: none;
}
header .eco_nav nav .navbar-nav li ul li a{
   color: red;
}
header .eco_nav nav .navbar-nav li ul {
     padding: 0;
}
header .eco_nav nav .navbar-nav li ul:after{
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #298fc2;
}
header .eco_nav nav .navbar-nav li ul li{
    transition: all 0.3s ease-in-out;
}
header .eco_nav nav .navbar-nav li ul li:hover{
    background:#298fc2 ;
    color: #ffffff !important;
}
header .eco_nav nav .navbar-nav li .nav_mega li:hover {
    background: transparent;
}
header .eco_nav nav .navbar-nav li .nav_mega li:hover a {
    color: #2f2f2f !important;
}
header .eco_nav nav .navbar-nav .single_nav ul {
    width: 240px;
}

header .eco_nav nav .navbar-nav li ul li ul {
    left: 240px;
}

header .eco_nav nav .navbar-nav li a.active:after {
   color: #298fc2;
  
 
  
}
header .eco_nav {
    margin: -1px;
}

/*      Mobile Layout: 320px.
---------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    i.flaticon-menu-1.btn-demo {
        display: none;
    }
    .h_btn{
        font-size: 15px !important;
    }
    .rev-btn {
        line-height: 30px !important;
        font-size: 15px !important;
        margin-top: 30px !important;
    }
    .right-btn{
        margin-top: 100px !important;
    }
    .left_btn {
        margin-left: 60px !important;
    }
    .h-p .tp-splitted.tp-wordsplit {
        font-size: 10px;
        line-height: 15px;
    }
    .tp-mask-wrap {
        padding-left: 15px;
    
    }
}

header .eco_nav nav .navbar-nav li ul li:hover .dropdown_icon:before {
    display: block;
    color: #fff;
}
.header_4 .eco_nav nav .navbar-nav li ul li a.active, .header_4 .eco_nav nav .navbar-nav li ul li a:hover {
    color: #ffffff !important;
}











.modal-backdrop.show {
    opacity: 0.8;
}
.demo {
    position: relative;
}
.btn-demo {
    margin-left: 11px;
}
.demo .navbar-nav li a {
    padding: 10px 0px 10px 15px;
}
.demo .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 480px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.demo .modal.right.fade.show .modal-dialog {
    right: 0;
    transition: all 0.3s ease-in-out;
}
.demo .modal.right.fade .modal-dialog {
    right: -320px;
    transition: all 0.3s ease-in-out;
}
.demo .modal-header {
    display: inline;
    padding: 0;
    border: none;
}
.demo .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
}
.demo .modal.right .modal-body {
    padding: 0;
}
.demo .modal-body .bar-top {
   padding: 0px 50px 16px;
    border-bottom: 1px solid #EBEBEB;
}
.demo .modal-header .close {
    height: 60px;
    width: 60px;
    background: #ff1949;
    font-size: 30px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    opacity: 1;
}
.demo .modal-header .close i:before {
    margin: 0;
    font-size: 16px;
    line-height: 60px;
}
.demo .modal-header .close:hover {
    background: #ff1949;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.demo .modal-header h2 a {
    color: red;
}
.demo .modal-header h2 img {
    height: 37px;
}
.demo button:focus {
    outline: 0px;
}
.demo .modal-header h2 {
    font-size: 40px;
    background: linear-gradient(142deg, #3ec9cf 0%, #2f2f2f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    display: inlilne-block;
    padding: 40px 60px 50px 50px;
    text-align: left;
}
.demo .modal-body ul {
    padding-top: 10px;
}
.demo .modal-body .bar-nav h2 {
    font-size: 24px;
    color: #ff1949;
    font-weight: 600;
    margin-bottom: 25px;
}
.demo .modal-body .bar-nav ul li {
    width: 250px;
    position: relative;
}
.demo .modal-body .bar-nav ul li a {
    font-size: 15px;
    color: #2f2f2f;
    line-height: 30px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.demo .modal-body .bar-nav ul li a:hover {
    color: #ff1949;
}
.demo .modal-body .bar-nav ul li a:hover i {
    right: -15px;
}
.demo .modal-body .bar-nav ul li a i {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
}
.demo .bar-top a i:before {
    font-size: 9px;
}
.demo .modal-body .bar-icon h2 {
    color: #2f2f2f;
    font-size: 30px;
}
.demo .modal-body .bar-icon .social_items {
    margin-bottom: 20px;
    padding: 5px 50px;
}
.demo .modal-body .bar-icon .social_items li {
    margin-right: 10px;
}
.demo .modal-body .bar-icon .social_items li a i {
    width: 30px;
    height: 30px;
    color: #2f2f2f;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid #2f2f2f;
    margin-top: 8px;
    text-align: center;
    line-height: 2;
    transition: all 0.3s ease-in-out;
}
.demo .modal-body .bar-icon .social_items li a i:hover {
    background: #ff1949;
    color: #ffffff;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.demo .modal-body .bar-contact {
       padding: 20px 50px 34px;
}
.demo .modal-body .bar-contact span {
    display: inherit;
    color: #2f2f2f;
    line-height: 25px;
    font-weight: 400;
    font-size: 15px;
}
.demo .modal-body .serach_option {
    padding: 0px 70px 20px 50px;
}
.demo .modal-body .serach_option form {
    position: relative;
}
.demo .modal-body .serach_option form input {
    background: transparent;
    box-shadow: none;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    height: 60px;
    padding: 0px 80px 0 25px;
    transition: all 0.3s ease 0s;
    width: 100%;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
}
.demo .modal-body .serach_option form input:focus {
    border: 1px solid #9b9b9c;
    outline: none;
}
.demo .modal-body .serach_option form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
}
.demo .modal-body .serach_option form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
}
.demo .modal-body .serach_option form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
}
.demo .modal-body .serach_option form input:-moz-placeholder {
    /* Firefox 18- */
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
}
.demo .modal-body .serach_option form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    border: none;
    background: #ff1949;
    border-radius: 0;
    cursor: pointer;
}
.demo .modal-body .serach_option form button i {
    font-size: 24px;
}
.demo .modal-body .serach_option form button i:before {
    margin: 0;
    color: #ffffff;
}
.demo .modal-header h2 {
    padding: 11px 60px 50px 50px;
}
.demo .modal-body .bar-nav h2 {
    color: #333;
}







