/*		Desktop Layout: 1170px.
---------------------------------------------------------------- */

@media only screen and (max-width: 1400px) {

.slider-text-aboutUs{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%); 
}

.slider-text-aboutUs{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%); 
}
.slider-text-contactUs{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);

}
}
/*		Desktop Layout: 1170px.
---------------------------------------------------------------- */

@media only screen and (min-width: 991px) and (max-width: 1200px) {

.icon{
	width: 8%;	
}
.text{
	width: 92%;
}
	.eco_slider .nivo-caption .single_intro {
		width: 80%;
	}
	.our_sponsor .sponsored_compani_logos img {
		padding: 0 15px;
	}
	.eco_slider .nivo-controlNav {
		bottom: 100px;
		transform: none;
		left: 80px;
	}
	#scroll-top .to-top a {
		right: 120px;
	}
	/*=============Index two  Css===========*/
	.header_wrapper_4 .intro_wrapper_4 .intro-text {
		margin-top: 50px;
		padding-left: 16px;
		padding-right: 30px;
	}
	.header_wrapper_4 .intro_wrapper_4 {
		min-height: 450px;
	}
	.testimonial_4 .testimonial_single {
		margin: 170px 40px 0;
		padding: 100px 0px 130px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text h1 {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 15px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text p {
		margin-bottom: 40px;
		font-size: 15px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text .intro_button a {
		padding: 15px 80px;
		font-size: 18px;
		margin-right: 15px;
		line-height: 55px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text .intro_button a span {
		line-height: 55px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text .intro_button a:hover i {
		right: 15px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text .intro_button a i {
		line-height: 55px;
	}
	.header_wrapper_4 .intro_wrapper_4 .intro-text .intro_button a i:before {
		font-size: 12px;
	}
}
/*      Tablet Layout: 768px.    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.mean-container .mean-bar {
	    margin-top: 40px
}


header .eco_nav nav .navbar-brand img {
	height: 45px;
	width: auto;
}

.benifits .row{
	padding-top: 0px;
	padding-bottom: 15px;
}
.slider-text li {
	font-size: 1.5rem;
	line-height: 150%;
}
.slider-text{
  position: absolute;
  text-align: left;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%); 
}

.slider-text-aboutUs{
  top: 60%;
  left: 19%;
}

.slider-text-contactUs{
	top: 60%;
	left: 19%;
}

.icon{
	width: 8%;	
}
.text{
	width: 92%;
}
footer .col-md-4{
   flex: 0 0 100%;
   max-width: 100%;
}
footer .col-md-6{
	flex: 0 0 100%;
    max-width: 100%;
}

footer .col-md-2{
	 flex: 0 0 100%;
    max-width: 100%;
}
	.eco_slider {
		height: 440px;
	}
	.nivoSlider img {
		height: 440px !important;
		width: 994px !important;
	}
	header .header-top {
		display: none;
	}
	.eco_slider .nivo-caption {
		padding-top: 70px;
	}
	.nivo-caption {
		padding: 0;
	}
	.eco_slider .nivo-controlNav {
		bottom: 30px;
		transform: none;
		left: 145px;
	}
	.eco_slider .nivo-caption .single_intro {
		width: 100%;
	}
	.eco_slider .nivo-caption .single_intro h1 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 10px;
	}
	.eco_slider .nivo-caption .single_intro p {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 30px;
	}
	.eco_slider .nivo-caption .single_intro .intro_button a {
		padding: 15px 80px;
		font-size: 14px;
		margin-right: 15px;
		line-height: 50px;
	}
	.eco_slider .nivo-caption .single_intro .intro_button a span {
		line-height: 50px;
	}
	.eco_slider .nivo-caption .single_intro .intro_button a:hover i {
		right: 15px;
	}
	.eco_slider .nivo-caption .single_intro .intro_button a i {
		right: 30px;
		line-height: 50px;
	}
	.eco_slider .nivo-caption .single_intro .intro_button a i:before {
		font-size: 12px;
	}
	.register_area .form-content h2 {
		font-size: 38px !important;
		line-height: 46px;
	}
	.register_area .form-content p {
		font-size: 20px;
	}
	.header_2 .sign-in-option .navbar-nav li i {
		display: none;
	}
	footer .footer_signle_item_2 {
		padding-left: 0;
	}
	footer .footer_signle_item_3 {
		padding-left: 0;
	}
	footer .footer_signle_item_4 {
		padding-left: 0;
	}
	footer ul {
		margin-bottom: 0;
		margin-top: 20px;
	}
	footer .becomeSponsor_info{
		text-align: center;
	}
	footer .sponsor-button{
	    text-align: center;
	padding-left: 0;
}
		footer .becomeSponsor_info p{
		text-align: center;
	}
	.footer_single {
		margin-bottom: 50px;
	}
	#scroll-top .to-top a {
		right: 160px;
	}
}
/*		Mobile Layout: 320px.
---------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

.sign-section{
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}
.sign-section ul li a
{
    font-size: 11px; 
}
.flaticon-login-button::before
{
	font-size: 1.2em;
}
.flaticon-profile::before
{
font-size: 1.1em;
}
.carousel {
	margin-top: 50px;
    position: relative;
}
.slider-text-aboutUs{
  top: 50%;
  left: 19%;
}
.slider-text li {
	font-size: 0.9rem;
	line-height: 200%;
}
.slider-text{
  position: absolute;
  text-align: left;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%); 
}

.MeetBabySafe{
	text-align: center;
	padding-top: 50px;
}
.MeetBabySafe h2{
	font-size: 2rem;
}
.HowItWorks-contents h2{
	font-size: 2rem;
}
.benifits h2{
	font-size: 20pt;
}
.MeetBabySafe li{
	text-align: left;
}
.MeetBabySafe img{
	margin-top: 0;
}
.BabySafe-img {
	position: relative;
}
.benifits .row{
	padding-top: 0;
	padding-bottom: 0;
}
.whyBabySafe{
	text-align: center;
	padding-top: 50px;
}
.whyBabySafe h2{
	font-size: 2rem ;
}
.our-core-values h2{
	font-size: 2rem ;
}
.acknowledgements h2{
	font-size: 2rem ;
}
.benifits{
	text-align: center;
}
.benifits li{
	text-align: left;
}

.icon{
	width: 10%;
	vertical-align: top;	
}
.text{
	width: 90%;
}
footer .copyright_info {
	margin-top: 0 !important;
	text-align: center;
}
.justify-content-end {
    justify-content: space-evenly!important;
}
.copyright_info .col-sm-5{
	margin-bottom: 10px;
}

.copyright_info .col-sm-7{
	text-align: center;
}
footer .sponsor-button{
	text-align: center;
	padding-left: 0;
}

footer .copyright_info ul li{
	margin-left: 10px;
	margin-right: 10px;
}
footer .becomeSponsor_info{
		text-align: center;
}

.slider-text-contactUs{
	 left: 35%;
}
.slider-text-contactUs li{
	font-size: 2rem;
}

.slider-text-aboutUs{
	 left: 25%;
}
.slider-text-aboutUs li{
	font-size: 2rem;
}
h2 {
	font-weight: 700;
	font-size: 28px;
}
.header_1 .sign-in-option {
	position: absolute;
	bottom: -6px;
	right: 35px;
	z-index: 999;
}
.header_1 .eco_nav nav .sign-in-option .navbar-nav li .sign-in {
	margin: 0;
}
.navbar-light .navbar-toggler {
	display: none;
}
.navbar-light .navbar-brand {
	display: none;
}
.header_4 .header-top-left {
	display: none;
}
.header-top-left {
	position: absolute;
	right: 40px;
	top: 8px;
	z-index: 999;
}
.header-top .header-top-left ul li:last-child {
	display: none;
}
.sign-in-option ul li:last-child {
	display: none;
}
.sign-in-option .navbar-nav li i {
	cursor: pointer;
	position: absolute;
	bottom: 4px;
	left: 50%;
	z-index: 999;
}
.sign-in-option .navbar-nav li i:before {
	color: #ffffff !important;
}
.header_2 .header-top .header-top-left ul {
	padding: 7px 0;
}
.mean-container a.meanmenu-reveal {
	top: 4px;
}
.header_1 .sign-in-option ul li:last-child {
	display: block;
}
.header_4 .sign-in-option ul li:last-child {
	display: block;
}
.header_4 .eco_nav nav .sign-in-option .navbar-nav li .sign-in {
	margin: 0;
	position: absolute;
	bottom: -6px;
	right: 34px;
	z-index: 999;
}
.login_signup_option .login_modal_body {
	top: 35%;
	width: 100%;
}
.login_signup_option .tab-content {
	padding: 15px;
	height: 250px;
	overflow-y: scroll;
}
/*=============Index one  Css===========*/
.eco_slider {
	height: 350px;
}
.nivoSlider img {
	height: 350px !important;
	width: 791px !important;
}
.eco_slider .nivo-caption {
	padding-top: 40px;
}
.nivo-caption {
	padding: 0;
}
.eco_slider .nivo-controlNav {
	bottom: 30px;
	transform: none;
	left: 15px;
	z-index: -9999;
}
.eco_slider .nivo-caption .single_intro {
	width: 100%;
}
.eco_slider .nivo-caption .single_intro h1 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
}
.eco_slider .nivo-caption .single_intro p {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 30px;
}
.eco_slider .nivo-caption .single_intro .intro_button a {
	padding: 10px 65px;
	font-size: 14px;
	margin-right: 15px;
	line-height: 40px;
}
.eco_slider .nivo-caption .single_intro .intro_button a span {
	line-height: 40px;
}
.eco_slider .nivo-caption .single_intro .intro_button a:hover i {
	right: 15px;
}
.eco_slider .nivo-caption .single_intro .intro_button a i {
	right: 30px;
	line-height: 40px;
}
.eco_slider .nivo-caption .single_intro .intro_button a i:before {
	font-size: 12px;
}

.register_area {
	padding: 100px 0;
}
.register_area .form-content {
	padding-top: 0px;
	margin-bottom: 40px;
}
.register_area .form-content p {
	font-size: 18px;
}
.register_area .form-content h2 {
	font-size: 28px !important;
	line-height: 36px;
}
.register_area .form-full-box .form_title h2 {
	font-size: 28px;
}
.register_area .form-full-box {
	margin: 0 15px;
	padding: 50px 15px;
}
.register_area .form-full-box .register-form .register-btn-box {
	margin-top: 40px;
}
.testimonial .testimonial_single {
	margin: 170px 15px 0;
	padding: 100px 15px 130px;
}
.testimonial .testimonial_single p {
	font-size: 14px;
	line-height: 22px;
}
.testimonial .testimonial_single .member-img {
	top: -100px;
	height: 150px;
	width: 150px;
}
.our_sponsor .sponsored_compani_logos img {
	padding: 0 30px;
}
.becomeSponsor_info p{
 text-align:  center;
}
footer .footer_signle_item_3 {
	padding-left: 0;
}
footer ul {
	margin-bottom: 0;
	margin-top: 20px;
}
.footer_single {
	margin-bottom: 50px;
}
footer .copytight_info {
	padding: 30px 0;
	margin-top: 80px;
}
.privacy-policy ul>li{
	list-style-position: outside;
	margin-left: 18px; 
}

#scroll-top .to-top a {
	height: 40px;
	width: 40px;
	line-height: 40px;
	right: 50px;
}
#scroll-top .to-top a i:before {
	font-size: 12px;
}	
}

@media only screen and (max-width: 320px){
.benifits .container{
	padding-top: 100px;
}

@media only screen and (max-width: 280px){
.benifits .container{
	padding-top: 350px;
}

}

/*		Wide Mobile Layout: 480px.
------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.nivoSlider img {
	height: 380px !important;
	width: 850px !important;
}
.eco_slider .nivo-caption {
	padding-top: 50px;
}
.header_2 .sign-in-option .navbar-nav li i {
	display: none;
}
.eco_slider .nivo-controlNav {
	bottom: -35px;
	transform: none;
	left: 15px;
}
.eco_slider .nivo-caption .single_intro {
	width: 100%;
}
.eco_slider .nivo-caption .single_intro h1 {
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 10px;
}
.eco_slider .nivo-caption .single_intro p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 30px;
}
.eco_slider .nivo-caption .single_intro .intro_button a {
	padding: 15px 80px;
	font-size: 14px;
	margin-right: 15px;
	line-height: 50px;
}
.eco_slider .nivo-caption .single_intro .intro_button a span {
	line-height: 50px;
}
.eco_slider .nivo-caption .single_intro .intro_button a:hover i {
	right: 15px;
}
.eco_slider .nivo-caption .single_intro .intro_button a i {
	right: 30px;
	line-height: 50px;
}
.eco_slider .nivo-caption .single_intro .intro_button a i:before {
	font-size: 12px;
}
}
