/*Description: 
Author: getnajmul
Author URI: http://getnajmul.com/theme/ecostudy/
Version: 0.1

==========================================================

01. Default  CSS

---------- {Index Version One } ----------
02. Header Style
03. Header Slider
04. Popular Courses
05. Register Area
06. Popular Event
07. Our Instructiors
08. Take A Tour
09. Testimonial
10. Our Sponsor
11. Footer

---------- { Home Version two } ----------
12. Header Style
13. Header Slider
14. Popular Courses
15. Count Our Info
16. Upcoming Events
17. Awesome Instructors
18. Latest News
19. Our Sponsor
20. Footer Ara

---------- { Index Version Three ----------
21. Header Style
22. Header Slider
23. Category Courses
24. Popular Courses
25. Video Tour
26. Event news subscribe
27. Testimonial 
28. Our Sponsor
29. Footer Ara

---------- { Index Version Four ----------
30. Header Area Style
31. Intro area
32. About area
33. Count Our Info
34. Publications
35. Our Take A Tour
36. Testimonial
37. Sponsor
38. Footer Wrapper

39. Other pages css

============================================================*/

/*====================================
		===[ Default Style ]===
======================================*/

/* Variables */


* {
	margin: 0;
	padding: 0;
}
body{
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	color: #8d95a6;
	overflow-x: hidden !important;
}

@font-face{
	src: url('../fonts/MultipleSlabPro-SemiBoldIt.woff');
	font-family:MultipleSlabPro-SemiBoldIt;
}
@font-face{
	src:url('../fonts/MultipleSlabPro-LightIt.woff');
	font-family:MultipleSlabPro-LightIt;
}
@font-face{
	src:url('../fonts/MultipleSansPro-Regular.woff');
	font-family:MultipleSansPro-Regular;
}
@font-face{
	src:url('../fonts/MultipleSansPro-Bold.woff ');
	font-family:MultipleSansPro-Bold;
}
@font-face{
	src: url('../fonts/MultipleSansPro-SemiBold.woff');
	font-family:MultipleSansPro-SemiBold;
}
@font-face{
	src: url('../fonts/MultipleSansPro-Light.woff');
	font-family:MultipleSansPro-Light;
}
@font-face{
	src: url('../fonts/MultipleSansPro-ExtraLight.woff');
	font-family:MultipleSansPro-ExtraLight;
}

p {
	font-weight: 300;
	line-height: 26px;
	font-size: 16px;
	color: #8d95a6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2f2f2f;
	margin: 0;
}
h2 {
	font-weight: 700;
	font-size: 36px;
	padding-bottom: 20px;
}
a,
a:hover,
a:focus {
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	outline: none;
}
ol,
ul {
	margin: 0;
	padding: 0;
}
ol li,
ul li {
	list-style: inside none none;
	list-style-type: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
}


.carousel-item{
   text-align: center;
}

.slider-text{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%); 
}

.slider-text li {
	list-style: none;
	color:white;
	font-size: 3rem;
	line-height: 150%;
	font-family: MultipleSlabPro-SemiBoldIt !important;
}
.slider-text span {
	font-family: MultipleSlabPro-LightIt !important;
}

.responsive {
  width: 100%;
  height: auto;
}

.BabySafe-img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.trade-mark{
	font-family: MultipleSansPro-ExtraLight !important;
}

/*=================================================
		===[ Home Version 01 ]===
===================================================*/


.sign-section{
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%
	height:auto;
	background: #292929;
	text-align: right;
}

.sign-section ul li{
	list-style: none;
	display: inline-block;

}
.sign-section ul li a
{
	color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    padding: 0;
}
.sign-section ul li a:hover
{
	color: #298fc2;
}
i {
    font-style: italic;
    padding-right: 5px;
    vertical-align:middle;
}
.flaticon-login-button::before
{
	font-size: 1.5em;
}
.flaticon-profile::before
{
	font-size: 1.4em;
}

header {
	/*=======[ Index Navbar Style ]========*/
	/*=======[ Index Header Body Style ]========*/
}
header .header-top {
	background: #2f2f2f;
}
header .header-top .header-top-left ul {
	margin: 0;
	padding: 9px 0;
}
header .header-top .header-top-left ul li {
	padding-right: 15px;
	display: inline-block;
	color: #ffffff;
	font-weight: 300;
	font-size: 13px;
}
header .header-top .header-top-left ul li .top-icon {
	font-size: 9px;
	padding-right: 5px;
}
header .header-top .header-top-right .social_wraper .social-items {
	float: right;
	padding: 9px 0;
}
header .header-top .header-top-right .social_wraper .social-items li:last-child {
	margin-right: 0;
}
header .header-top .header-top-right .social_wraper .social-items li a {
	margin-right: 15px;
}
header .header-top .header-top-right .social_wraper .social-items li a i {
	height: 26px;
	width: 26px;
	text-align: center;
	line-height: 25px;
	border-radius: 50%;
	font-size: 11px;
	margin: 0;
	border: 1px solid #555555;
	background: transition;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}
header .header-top .header-top-right .social_wraper .social-items li a i:hover {
	color: #ff1949;
	padding: 0;
	background: #ffffff;
	border: 1px solid #ffffff;
}
header .eco_nav {
	padding-right: 0;
	background: #ffffff;
}
header .eco_nav nav {
	padding: 0;
}
header .eco_nav nav .navbar-brand img {
	height: 47px;
	width: auto;
}
header .eco_nav nav .navbar-nav .single_nav {
	position: relative;
}
header .eco_nav nav .navbar-nav .single_nav ul {
	width: 240px;
}
header .eco_nav nav .navbar-nav .single_nav ul li {
	width: 100%;
	margin-bottom: 10px;
}
header .eco_nav nav .navbar-nav li:hover ul {
	visibility: visible;
	opacity: 1;
	top: 109px;
}
header .eco_nav nav .navbar-nav li a {
	font-weight: 600;
	color: #2f2f2f !important;
	font-size: 16px;
	padding: 42px 0 !important;
	margin: 0 15px;
	text-decoration: none;
}
header .eco_nav nav .navbar-nav li a.active,
header .eco_nav nav .navbar-nav li a:hover {
	background: transparent;
	outline: none;
	color: #ff1949 !important;
}
header .eco_nav nav .navbar-nav li .nav_mega {
	padding: 0 !important;
}
header .eco_nav nav .navbar-nav li ul {
	position: absolute;
	top: 110px;
	left: 0;
	box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
	padding: 30px 0px 20px 30px;
	z-index: 28;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
header .eco_nav nav .navbar-nav li ul li {
	width: 100%;
	margin-bottom: 0px;
	position: relative;
}
header .eco_nav nav .navbar-nav li ul li .dropdown_icon:before {
	opacity: 1;
	visibility: visible;
}
header .eco_nav nav .navbar-nav li ul li:hover ul {
	opacity: 1 !important;
	visibility: visible !important;
	top: -30px !important;
}
header .eco_nav nav .navbar-nav li ul li a {
	position: relative;
	font-weight: 400;
	font-size: 14px;
}
header .eco_nav nav .navbar-nav li ul li a:before {
	color: #ff1949;
	position: absolute;
	font-weight: 600;
	font-family: "Flaticon";
	content: "\f101";
	right: 45px;
	top: 0;
	font-size: 8px;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
header .eco_nav nav .navbar-nav li ul li a:hover:before {
	opacity: 1;
	visibility: visible;
	right: 30px;
}
header .eco_nav nav .navbar-nav li ul li a {
	padding: 0px 0 !important;
	margin: 0;
}
header .eco_nav nav .navbar-nav li ul li .mega_menu_container {
	text-align: center;
	padding: 30px 30px 20px;
}
header .eco_nav nav .navbar-nav li ul li .mega_menu_container .mega_menu_box {
	box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
	padding-bottom: 20px;
}
header .eco_nav nav .navbar-nav li ul li .mega_menu_container .mega_menu_box .mega_menu_heading {
	margin-top: 20px;
}
header .eco_nav nav .navbar-nav li ul li .mega_menu_container .mega_menu_box .mega_menu_heading a {
	transition: all 0.3s ease-in-out;
	margin: 0 !important;
}
header .eco_nav nav .navbar-nav li ul li .mega_menu_container .mega_menu_box .mega_menu_heading a:before {
	display: none;
}
header .eco_nav nav .navbar-nav li ul li ul {
	position: absolute;
	top: 0px !important;
	left: 210px;
	opacity: 0 !important;
	visibility: hidden !important;
}
header .eco_nav nav .sign-in-option .navbar-nav li .sign-in {
	background: #ff1949;
	padding: 12px 30px !important;
	margin: 22px 15px 22px 0;
	color: #ffffff !important;
}
header .eco_nav nav .sign-in-option .navbar-nav li .sign-in:hover {
	background: #2f2f2f;
}


/*=================================================
		===[ Meet BabySafe ]===
===================================================*/

.MeetBabySafe{
	padding-top: 100px;
	padding-bottom: 100px;
}
.MeetBabySafe h2{
	font-family: MultipleSansPro-Bold;
	font-size: 2.5rem;
	margin-bottom: 30px;
	padding-bottom: 0 !important;
}
.MeetBabySafe p:first-of-type{
	font-family: MultipleSansPro-Regular;
	color: black;
	font-size: 1.25rem;
}
.MeetBabySafe h4{
	font-family: MultipleSansPro-SemiBold;
	padding-top: 20px;
	padding-bottom: 10px;
	color: black;
	font-size: 1.4rem;
	/*text-transform: capitalize;*/
}
.MeetBabySafe p:last-of-type{
	font-family: MultipleSansPro-Light;
	font-size: 0.8rem;
	padding-top: 20px;
	}
.MeetBabySafe img{
	margin-top: 50px;
}
.MeetBabySafe ul{
	color: black;
}
.MeetBabySafe ul li{
    font-family:MultipleSansPro-Regular;
	margin-top: 5px;
	margin-bottom: 5px;
}

.MeetBabySafe ul li span{
	font-style: italic;
	color: black;
	font-size:0.75rem; 
}
 .fa-check-circle{
	color: #298FC2;
	padding-right: 5px;
}

/*=================================================
		===[ How it works ]===
===================================================*/

.HowItWorks{
	padding: 80px 0;
	max-height: 1000px;
	background-color: #f6f6f6;
}
.HowItWorks-contents{
	text-align: center;	
}
.HowItWorks-contents h2{
	font-family: MultipleSansPro-Bold;
	font-size: 2.5rem;
	text-align: center;
}

.HowItWorks h3{
	font-family: MultipleSansPro-SemiBold;
	font-size: 16pt;	
}
.HowItWorks p{
	font-family: MultipleSansPro-Regular;
	font-size: 12pt;
	color: black;
}
.fa-film {
	text-align: center;
	color: #D9C756;
	padding: 25px;
}
.fa-list-ol{
	text-align: center;
	color: #D9C756;
	padding: 25px;
}
.fa-star{
	text-align: center;
	color: #D9C756;
	padding: 25px;
}


/*=================================================
		===[ Why Join Us ]===
===================================================*/

.WhyJoinUs{
	padding: 80px 0;
	max-height: 1000px;
}
.WhyJoinUs-contents{
	display:table-row;
}
.WhyJoinUs-icon{
	display: table-cell;
	padding-right:20px; 
	position: relative;
	top:15px;
}
.WhyJoinUs-P{
	display: table-cell; 	
}
.WhyJoinUs-P h3{
	color:#298fc2;
	font-family:MultipleSansPro-SemiBold;
	font-size: 16pt;
}
.WhyJoinUs-P p{
	color:black;
	font-family:MultipleSansPro-Regular;
	font-size: 12pt;
}
.WhyJoinUs-L{
	width: 48%;
	display: inline-block;
	height: 350px;	
}
.WhyJoinUs-R{
	width: 48%;
	display: inline-block;
	height: 350px;	
}
.circle-icon {
    background:#D9C756;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}


/*=================================================
		===[ Benifits ]===
===================================================*/

.benifits{
	padding-bottom: 100px;
	line-height: 150%;
}
.benifits h2{
    font-family: MultipleSansPro-Bold;
    font-size: 2.0rem;
}
.benifits p{
    font-family: MultipleSansPro-Regular;
    color: black;
    font-size: 1rem;
}
.benifits .col-sm-8{
	margin-top: 20px;
}
.benifits .row{
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 15px;
}
.subline{
	width: 100%;
}
.icon{
	vertical-align:top;
	display: inline-block;	
}
.text{
	display: inline-block;
}
.benifits col-1{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.benifits col-11{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.benifits li{
	font-family: MultipleSansPro-Regular !important;
	color: black;
	font-size: 1rem !important;
	margin-top: 5px;
	margin-bottom: 5px;
}
.benifits li i{
	margin-right: 12px;
}
.fa-rocket{
	color: #298FC2;
	padding-right: 8px;
}
.fa-users{
	color: #298FC2;
	padding-right: 4.5px;
}
.fa-plus-circle{
	color: #298FC2;
	padding-right: 8px;
}
.fa-heart{
	color: #298FC2;
	padding-right: 8px;
}

/*=================================================
		===[Register Area]===
===================================================*/

.register_area {
	background-color: #298fc2  ;
	background-image: url("../images/tricolour-wave-repeat.png");
	max-height: 1000px;
	padding-top: 100px;
	padding-bottom: 100px;
	z-index: 1;
	background-repeat: repeat-x;
    background-position: 0 70%
}
.register_area .form-content {
	padding-top: 100px;
}
.register_area .form-content p {
	font-family: MultipleSansPro-SemiBold;
    font-size: 18px;
	color: #ffffff;
	margin: 0;
	line-height: 24px;
}
.register_area .form-content h2 {
	font-family: MultipleSansPro-Bold;
	font-size: 50px !important;
	color: #ffffff;
	margin-top: 20px;
	line-height: 70px;
}
.register_area .form-full-box {
	background: #ffffff;
	margin: 0 20px;
	padding: 50px 25px;
	text-align: center;
	box-shadow: 0px 0px 81px 0px rgba(47, 47, 47, 0.1);
}
.register_area .form-full-box .form_title {
	margin-bottom: 60px;
}
.register_area .form-full-box .form_title h2 {
	font-family: MultipleSansPro-Bold;
	font-size: 2rem;
	padding-bottom: 0;
	font-weight: 700;
	position: relative;
	padding-top: 20px;
}
.register_area .form-full-box .register-form {
	padding: 0;
}
.register_area .form-full-box .register-form .form-group {
	margin-bottom: 25px;
}
.register_area .form-full-box .register-form .form-group input {
	background: transparent;
	border-bottom: 2px solid #f4f4f4;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
	height: 40px;
	padding: 10px 0;
	transition: all 0.5s ease 0s;
	width: 100%;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
}
.register_area .form-full-box .register-form .form-group input:focus {
	border-color: #ff1949;
	outline: none;
	box-shadow: none;
}
.register_area .form-full-box .register-form .form-group input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
}
.register_area .form-full-box .register-form .form-group input::-moz-placeholder {
	/* Firefox 19+ */
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
}
.register_area .form-full-box .register-form .form-group input:-ms-input-placeholder {
	/* IE 10+ */
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
}
.register_area .form-full-box .register-form .form-group input:-moz-placeholder {
	/* Firefox 18- */
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
}
.register_area .form-full-box .register-form .register-btn-box {
	margin-top: 80px;
}
.register_area .form-full-box .register-form .register-btn-box .register-btn {
	font-family: MultipleSansPro-Bold;
	background: #2f2f2f;
	color: white;
	width: 200px;
	color: #fff;
	height: 50px;
	font-size: 1rem;
	border: none;
	border-radius: 0px;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.register_area .form-full-box .register-form .register-btn-box .register-btn:hover {
	background: black;
	color: #298fc2;
}

/*=================================================
		===[Register Area]===
===================================================*/

.testimonial {
	padding: 150px 0 0px 0;
	background: #236192;
	position: relative;
}
.testimonial:before {
	background: url("../images/testimonial_shape.png") center;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 623px;
	width: 100%;
	z-index: 0;
}
.testimonial:after {
	color: rgba(255, 255, 255, 0.1);
	position: absolute;
	font-weight: 600;
	font-family: "Flaticon";
	content: "\f10c";
	left: 70%;
	top: 37%;
	font-size: 234px;
	z-index: 0;
	transform: translate(-50%);
}
.testimonial .title {
	margin-bottom: 60px;
	max-width: 500px;
	margin: 0px auto;
	text-align: center;
}
.testimonial .title h2 {
	color: #ffffff;
	font-family: MultipleSansPro-Bold;
	font-size: 35.5px;
}
.testimonial .title p {
	color: #ffffff;
	margin: 0;
	font-family: MultipleSansPro-SemiBold;
	font-size: 17.7px;
}
.testimonial .testimonial_single {
	background: #ffffff;
	text-align: center;
	position: relative;
	margin: 170px 90px 0;
	padding: 100px 95px 130px;
	z-index: 2;
}
.testimonial .testimonial_single:before {
	content: "";
	height: 140%;
	position: absolute;
	top: 60px;
	left: 50%;
	width: 108%;
	z-index: -113;
	opacity: 0.5;
	transform: translateX(-50%);
}
.testimonial .testimonial_single:after {
	background: #ffffff;
	content: "";
	height: 140%;
	position: absolute;
	top: 120px;
	left: 50%;
	width: 116%;
	z-index: -113;
	opacity: 0.2;
	transform: translateX(-50%);
}


.testimonial .testimonial_single h4 {
	font-size: 24px;
	color: #298fc2;
	font-family:  MultipleSansPro-SemiBold;
	margin-bottom: 10px;
}

.testimonial .testimonial_single p {
	font-family: MultipleSansPro-Regular;
	font-size: 18px;
	line-height: 30px;
	margin: 25px 0 0;
	color: #2f2f2f;
}

.testimonial .owl-theme .owl-controls {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
}
.testimonial .owl-theme .owl-controls .owl-page span {
	background: #2f2f2f;
}
.testimonial .owl-theme .owl-controls .owl-page.active span {
	background: transparent;
}
.testimonial .slick-list {
	margin: 0;
}
.testimonial ul.slick-dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: rotate(-90deg) translateX(-50%);
}
.testimonial ul.slick-dots li .pager_item {
	height: 10px;
	width: 10px;
	background: #298fc2;
	margin: 15px 0;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.testimonial ul.slick-dots .slick-active .pager_item {
	height: 17px;
	width: 17px;
	background: transparent;
	margin: 15px -4px;
	border: 4px solid #298fc2;
}
.our_sponsor {
	padding: 150px 0;
	background: #ffffff;
}
.our_sponsor .title {
	margin-bottom: 60px;
	max-width: 500px;
}
.our_sponsor .title h2 {
	color: #2f2f2f;
	margin-bottom: 15px;
}
.our_sponsor .title p {
	color: #2f2f2f;
	margin: 0;
}
.our_sponsor .sponsored_compani_logos {
	margin-bottom: 70px;
}
.our_sponsor .sponsored_compani_logos:last-child {
	margin-bottom: 0px;
}

/*=================================================
		===[Footer]===
===================================================*/


.fa-caret-right{
	color:#d9c756;
	margin-right: 5px;
}

hr{
	width: 30%;
background-color: #d9c756;
margin-top: 20px;
margin-bottom: 20px;
border-width: 3px;

}

.footer h3{
	font-family: MultipleSansPro-Bold;
	font-size: 2rem !important;
}

.span{
	margin-left: 10px;
	font-family: MultipleSansPro-Light;
}

footer ul li{
	font-family: MultipleSansPro-Bold;
}
footer ul li:nth-child(5){
	margin-bottom: 0;
}
footer ul li:nth-child(6){
	margin-bottom: 0;
}
footer ul li:nth-child(7){
	margin-bottom: 0;
}
footer ul li:nth-child(8){
	margin-bottom: 0;
}
.list2-text{
	display: inline-block;
}
.list2 li:first-child{
	margin-bottom: 0;
}
.list2 li:nth-child(5){
	margin-bottom: 0;
}
.list2 li:nth-child(6){
	margin-bottom: 8px;
}
.list3 li:first-child{
	margin-bottom: 0;
}
.list3 li:nth-child(3){
	margin-bottom: 0;
}

footer {
	padding: 100px 0 0;
	background: #298fc2;
}


footer .footer_item_title {
	font-family: MultipleSansPro-Bold;
	color: #ffffff;
	font-weight: 700;
	font-size: 25px;
}

footer .footer_single li a{
	margin-left: 12px;
}


footer .footer_logo {
	height: 38px;
}
footer .contact_info {
	margin: 0;
	margin-top: 30px;
}
footer .contact_info li {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 10px;
}

footer ul {
	margin-bottom: 0;	
}
footer ul li {
	margin-bottom: 8px;
	line-height: 14px;
}
footer ul li a {
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	line-height: 24px;
}
footer ul li a:hover {
	color: #d9c756;
}
footer ul li span {
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
}
footer .span{
	margin-left: 29px;
}
footer .becomeSponsor_info{
	padding: 30px 0;
	margin-top: 100px;
	background-color: #236192;	
}
footer .sponsor-button{
	    text-align: end;
	padding-left: 0;
}

footer button{
	color: white;
	background-color: #d9c756;
	padding: 10px;
	border: none;
	margin:10px 0;
}
footer button a{
	color: white;
}
footer button a:hover{
	color: #298fc2;
}
.becomeSponsor_info img{
	height: 37px;
    width: auto;
    margin:15px 0;
   }

 .becomeSponsor_info p{
 	text-align: right;
 	margin:10px 0;
 	color: white;
 	font-family: MultipleSansPro-Regular;
 }

.becomeSponsor_info button{
	text-align: center;
	font-family: MultipleSansPro-Regular;	
}

footer .copyright_info {
	padding: 30px 0;
	background: #236192;
	border-top: 1px solid #5b8fb5;
}

.col-12 .col-md-12 .col-lg-12{
	padding-left: 0;
}

footer .copyright_info p {
	margin: 0;
	font-weight: 400;
	color: #ffffff;
	font-family: MultipleSansPro-Light;
	font-size: 14px;
}
footer .copyright_info ul {
	margin: 0;
	padding: 0;
}
footer .copyright_info ul li {
	margin-right: 25px;
	margin-bottom: 0;
}
footer .copyright_info ul li:last-child {
	padding-bottom: 0px;
}
footer .copyright_info ul li a {
	color: #ffffff;
	font-family: MultipleSansPro-Light;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}
footer .copyright_info ul li a:hover {
	color: #d9c756;
	transition: all 0.1s ease-in-out;
}

/*====================== { Index 2 Style } ========================*/

.header_2 {
	/*=======[ Index Navbar Style ]========*/
}
.header_2 .header-top .header-top-right .social_wraper .social-items {
	float: left;
}
.header_2 .header-top .header-top-left ul {
	margin: 0;
	padding: 9px 0;
	float: right;
}
.header_2 .header-top .header-top-left ul li {
	padding-right: 0px;
	padding-left: 25px;
}
.header_2 .header-top .header-top-left ul li a {
	color: #ffffff;
	font-weight: 300;
	font-size: 13px;
	padding: 0;
}
.header_2 .header-top .header-top-left ul li a i:before {
	margin: 0;
	font-size: 14px;
	margin-right: 5px;
}
.header_2 .eco_nav nav .sign-in-option .navbar-nav li .sign-in {
	padding: 10px 30px !important;
	border-radius: 5px;
}
.header_2 .sign-in-option .navbar-nav li {
	margin-left: 15px;
}
.header_2 .sign-in-option .navbar-nav li i {
	cursor: pointer;
}
.header_2 .sign-in-option .navbar-nav li i:before {
	margin: 0;
	color: #2f2f2f;
	font-size: 16px;
}
.header_intro_2 .intro-wrapper_2 {
	text-align: center;
	background: transparent url("../images/banner-2.png") no-repeat center center/cover;
	min-height: 850px;
	position: relative;
}
.header_intro_2 .intro-wrapper_2:before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 {
	margin-top: 250px;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 h1 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 700;
	line-height: 70px;
	margin: 0;
	letter-spacing: 2px;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #ffffff;
	margin: 10px 0 90px;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 form {
	position: relative;
	z-index: 1;
	display: inline-flex;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group {
	margin: 0;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group input {
	height: 77px;
	min-width: 650px;
	padding: 0 30px 0 60px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	outline: none;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group input::-webkit-input-placeholder {
	color: rgba(47, 47, 47, 0.5);
	font-size: 18px;
	font-weight: 500;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group input::-moz-placeholder {
	color: rgba(47, 47, 47, 0.5);
	font-size: 18px;
	font-weight: 500;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group input:-ms-input-placeholder {
	color: rgba(47, 47, 47, 0.5);
	font-size: 18px;
	font-weight: 500;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .form-group input:-moz-placeholder {
	color: rgba(47, 47, 47, 0.5);
	font-size: 18px;
	font-weight: 500;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .submit-btn {
	margin-bottom: 0px;
	margin-left: 20px;
}
.header_intro_2 .intro-wrapper_2 .intro-text_2 .search-option .submit-btn button {
	height: 77px;
	width: 187px;
	font-size: 18px;
	font-weight: 600;
	background: #ff1949;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	outline: none;
}

/*=================================================
		===[About Us]===
===================================================*/


.slider-text-aboutUs{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 19%;
  transform: translate(-50%, -50%); 
}

.slider-text-aboutUs li {
	list-style: none;
	color:white;
	font-size: 3rem;
	line-height: 150%;
	font-family: MultipleSansPro-SemiBold !important;
}
.whyBabySafe{
	padding-top: 100px;
	padding-bottom: 100px;
}
.whyBabySafe img:nth-child(2){
	margin-top: 100px;
}
.whyBabySafe h2{
	font-family: MultipleSansPro-Bold;
	font-size: 2.5rem;
}
.whyBabySafe p{
	font-family: MultipleSansPro-Regular;
	color: black;
	font-size: 1.25rem;
	margin-top: 10px;
}
.our-core-values{
	text-align: center;
	padding: 0 0 80px 0;
}
.our-core-values h2{
	font-family: MultipleSansPro-SemiBold;
	font-size: 2.5rem;
	margin-bottom: 35px;
}
.our-core-values h3{
	margin-top: 10px;
	color: #298fc2;
	font-size: 16pt;
	font-family:MultipleSansPro-SemiBold;
}
.our-core-values p{
	font-family: MultipleSansPro-Regular;
	color: black;
	font-size: 12pt;
}
.our-core-values .row:first-of-type{
padding-bottom: 20px;
}
.our-core-values i{
	color: #d9c756;
}
.acknowledgements{
	padding: 80px 0;
	max-height: 1000px;
	background-color: #f6f6f6;
}
.acknowledgements h2{
	font-family: MultipleSansPro-SemiBold;
	font-size: 2.5rem;
	margin-bottom: 25px;
}
.acknowledgements p{
	font-family: MultipleSansPro-Regular;
	color: black;
	font-size: 1.25rem;
}

/*=================================================
		===[Contact Us]===
===================================================*/

.slider-text-contactUs{
  position: absolute;
  text-align: left;
  top: 50%;
  left: 19%;
  transform: translate(-50%, -50%); 

}
.slider-text-contactUs li {
	list-style: none;
	color:white;
	font-size: 3rem;
	line-height: 150%;
	font-family: MultipleSansPro-SemiBold !important;
}


.leave_comment_wrapper{
	padding: 80px 0;
	align-self: left;
}
.leave_comment .submit-btn button{
	width: 100px;
	color: white;
	background-color: #d9c756;
	padding: 10px;
	border: none;
	margin:10px 0;
}
.contact_form{
	font-family: MultipleSansPro-SemiBold;
}
.contact_form h2{
	font-family: MultipleSansPro-SemiBold;
	margin-bottom: 20px;
}
.contact_form p{
	font-family: MultipleSansPro-Regular;
	margin-bottom: 40px;
	color: black;
}
.contact_form textarea{
	min-height: 200px;
}


/*=================================================
		===[privacy policy]===
===================================================*/
.privacy-policy{
	padding-top: 100px;
	padding-bottom: 100px;
	height: auto;
}

.privacy-policy h3{
	font-family: MultipleSansPro-Bold;
	color: black;
	font-size: 1.5rem !important;
	text-align: center;
}
.privacy-policy p{
	color:black;
	font-family:MultipleSansPro-Regular;
	font-size: 14pt;
}
.privacy-policy span{
	font-family: MultipleSansPro-Bold;
}

.privacy-policy ul li{
	font-family: MultipleSansPro-Bold;
	color: black;
	font-size: 14pt;
	list-style-type:disc !important;
	list-style:disc inside initial !important;
}
.privacy-policy h4{
	color: black;
	font-family: MultipleSansPro-Bold;
	font-size: 14pt;
	padding-bottom: 10px;
}

.privacy-policy a{
	color: black;
}
.privacy-policy a:hover{
	color: #298fc2 ;
}


/*=========== { 58. crool to top section css} ===========*/

#scroll-top .pos-rtive {
	position: relative;
}
#scroll-top h2 {
	display: none;
}
#scroll-top .to-top {
	display: none;
}
#scroll-top .to-top a {
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05);
	background: #298fc2;
	border-radius: 50%;
	color: #ffffff;
	font-size: 20px;
	height: 53px;
	width: 53px;
	line-height: 53px;
	position: fixed;
	text-align: center;
	top: 89%;
	right: 90px;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	z-index: 999;
}
#scroll-top .to-top a i:before {
	margin: 0;
	font-size: 16px;
}
#scroll-top .to-top:hover {
	background: #ffff00 none repeat scroll 0 0;
	color: #283754;
}

/*# sourceMappingURL=style.css.map */
